
/* Custom Properties or CSS Variables */

img{
    display: block; /*default inline to block */
    max-width: 100%;
    
}

:root{
    --text-color : brown;
   --font : 'Courier New', Courier, monospace;
}

p{
    color: var(--text-color);
    font-family: var(--font);
    /*color: blue;*/
}

ul li {
    color: brown;
    font-family: var(--font);
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
     
}


ul li {
    
    flex-grow: 1;
}

header{
    border: 5px solid blue;
    background-color: rgb(160, 153, 183);
    min-height: 100px;
}

.gridconatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}


/* make it responsive on friday's class */